/* .home-container {
  background-color: #0f172a;
  min-height: 100vh;
  padding-bottom: 80px; /* for bottom nav space */
  /* position: relative;
  overflow-x: hidden;
}

.background-logo {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.05;
  width: 60%;
  z-index: 0;
}

.about-section {
  background-color: #1e293b;
  border-radius: 10px;
  color: white;
  z-index: 2;
} */ 
